*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* website top */
h1{
  margin-top: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

/* navbar */

main .home-page{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: pink;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px ;
  text-decoration: none;
  font-size: 30px;
}

ul.topnav li a:hover:not(.active) {background-color: gray;}

ul.topnav li a.active {background-color: gray;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.jumbotron{
      background: white;
    }

   h2{
    margin: 0 0 40px 30px;
    font-size: 40px;
  }

  /* display name on index page */
  .display-3{
    text-align: center;
  }

/* image */
  .nia{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    padding: 20px;
    margin: 0 0px 0px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio{
    /* max-width: 640px; */
    max-width: 100%;
    border-radius: 5px;
    padding: 20px;
    margin: 0 0px 0px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* PORTFOLIO PAGE IMAGES */

  .center{
    margin:0 55px 0 0px;
    display: center;
  }

 .laptop{
   width: 640px;
   height: 425px;
   float: left;
 }

 .paper-man{
   float: right;
 }
 
  /* HOME PAGE INFORMATION PARAGRAPH*/
  .info{
    font-size: 25px;
    text-align: left;
    background-color:#ffffff;
    display: block;
  margin-left: auto;
  margin-right: auto;
    box-sizing: content-box;
  }
  .p1{
    margin-bottom: 0px;
     
  }

  .p1-h{
    font-style: italic;
  }
  .p2-h{
    font-style: italic;
    font-size: 15px;
    text-align: ;
  }


  /* CONTACT FORM */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #ffb6c1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: gray;
  }
  
  /* CONTACT PARAGRAPH */
  .form{
    margin: 0 0 40px 0px;
    font-size: 25px;
    text-align: center;
  }
  /* footer */
  .main-footer{
    font-size: 18px;
    text-align: center;
    margin: 30px 20px 20px 0;
    padding: 2rem;
  }

  .portfolio-footer{
    font-size: 18px;
    text-align: center;
    margin: 35% 0 20px 0;
    padding: 5rem
  }

   .contact-footer{
    font-size: 18px;
    text-align: center;
    margin: 0px 0 0px 0;
  } 

/* github link on contact page */
  .github{
    margin: 30px;
  }

  .github a{
    font-size: 20px;
    color: gray;
  }
.sticky-footer{
  flex-shrink: none;
}

/* PORTFOLIO PAGE */
/* @media (max-width: 480px) {
  .picblock img{
    background-image: url(mobile.png);
    background-repeat: no-repeat;
    background-size: contain ;
  }
}
@media (min-width: 481px) {
  .picblock img{
    background-image: url(desktop.png);
    background-repeat: no-repeat;
    background-size: contain ;
  }
}

.picblock img{
  max-width:33%;
} */